.borderBanner {
  position: relative;
}
.borderBanner img {
  margin-top: -7%;
  width: 100%;
}
.h1 {
  position: absolute;
  top: 40%;
  color: white;
  left: 2%;
}
.borderBanner button {
  border: none;
  background: gray;
  color: white;
  padding: 5px;
  width: 5rem;
  opacity: 0.9;
  border-radius: 6px;
}
.button1 {
  position: absolute;
  top: 52%;
  left: 2%;
}
.button2 {
  position: absolute;
  top: 52%;
  left: 10%;
}
.p1Banner {
  position: absolute;
  text-align: justify;
  color: white;
  top: 60%;
  left: 2%;
  width: 40%;
  font-size: 90%;
  display: -webkit-box;
  height: 16px * 1.3 * 3;
  line-height: 1.3;
  -webkit-line-clamp: 3; /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}
.bannerLoading {
  text-align: center;
  background: black;
  color: white;
}
.bannerError {
  border: 1px solid red;
  text-align: center;
  background: white;
  color: red;
}
@media (max-width: 992px) {
  .button1 {
    position: absolute;
    top: 52%;
    left: 2%;
  }
  .button2 {
    position: absolute;
    top: 52%;
    left: 15%;
  }
}
@media (max-width: 768px) {
  .p1Banner {
    position: absolute;
    text-align: justify;
    color: white;
    top: 70%;
    left: 2%;
    width: 40%;
    font-size: 90%;
    display: -webkit-box;
    height: 16px * 1.3 * 3;
    line-height: 1.3;
    -webkit-line-clamp: 3; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
  }
  .borderBanner img {
    margin-top: -12%;
    width: 100%;
  }
  .button1 {
    position: absolute;
    top: 55%;
    left: 2%;
  }
  .button2 {
    position: absolute;
    top: 55%;
    left: 20%;
  }
}
@media (max-width: 600px) {
  .p1Banner {
    display: none;
  }
  .borderBanner img {
    margin-top: -25%;
    width: 100%;
  }
  .button1 {
    position: absolute;
    top: 60%;
    left: 2%;
  }
  .button2 {
    position: absolute;
    top: 60%;
    left: 23%;
  }
  .h1 {
    position: absolute;
    top: 20%;
    color: white;
    left: 2%;
  }
}
